<div class="panel panel-warning bl-well-semi-transparent">
    <div class="panel-heading">
	<h3 class="panel-title">Вакансия "Преподаватель немецкого языка":</h3>
    </div>
    <div class="panel-body">
	<form class="form-horizontal" name="small_contact_form" action="{{ url('contact_form') }}" method="POST">
	    <fieldset>
		<input id="inputEmail" name="inputEmail" class="form-control" type="text" placeholder="Email">
		<input id="inputName" name="inputName" class="form-control" type="text" placeholder="Name">
		<textarea id="textArea" name="inputMessage" class="form-control" rows="3"></textarea>
		<button class="btn btn-default">Cancel</button>
		<button class="btn  btn-success" type="submit">Submit</button>
	    </fieldset>
	</form>
	
    </div>
</div>
