{{ docType() }}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>
            {% block title %}ZF2 {{ translate('Skeleton Application') }}{% endblock title %}
        </title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block meta %}{% endblock meta %}

        <!-- Le styles -->
        <link href="/css/bootstrap-simplex.css" media="screen" rel="stylesheet" type="text/css">
        <link href="/css/style.css" media="screen" rel="stylesheet" type="text/css">
        <link href="/images/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
        {% block style %}{% endblock style %}

        <!-- Scripts -->
        <script type="text/javascript" src="/js/jquery.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>
        <!--[if lt IE 9]><script type="text/javascript" src="/js/html5.js"></script><![endif]-->
        {% block script %}{% endblock script %}
    </head>
    <body>
	{% include 'application/bits/menu.twig' %}
        
        <div class="container">
            <!-- content|raw is required for phtml fallback -->
            {% block content %}{{ content|raw }}{% endblock content %}
            <hr>
            <footer>
                <p>&copy; 2005 - 2012 by Zend Technologies Ltd. {{ translate('All rights reserved.') }}</p>
            </footer>
        </div> <!-- /container -->
        {% block inline %}{% endblock inline %}
    </body>
</html>
