{% extends 'layout/layout.twig' %}
{% block header %}
{% endblock header %}
{% block content %}
<div class="row">
    <h2 class="col-lg-12">Ярослава Солтивская</h2>
</div>
<div class="row">
    <div class="col-lg-5"><img height="75%" src="/img/yas/Soltivska_Foto.jpg" /></div>
    <div class="col-lg-7">
	<p>
	Образование: высшее педагогическое.
Свободно владеет немецким, украинским, русским языками. Уровень владения английским языком – B1.
Аспирант Львовского национального университета имени Ивана Франко (специальность – германские языки).
Стаж преподавания (немецкий как основная специальность) в Сумском государственном педагогическом университете: 5 лет (2008 - 2013 гг.).
2011 г. – подтверждение уровня владения немецким языком С2 (диплом KDS  Гете-института).
2004 – 2005 – Au-pair-деятельность в Германии, одновременное посещение курсов немецкого языка.
Большой опыт преподавания в группах и индивидуально (в работе использует учебные 
комплексы „Schritte international“, „Themen aktuell“, „EM“,  „Auf neuen Wegen“), 
владеет коммуникативной методикой преподавания – говорению уделяет внимание с первых уроков.
</p>
    </div>
</div>
{% endblock content %}