{% extends 'layout/layout.twig' %}

{% block content %}
<div class="row">
    <div class="col-lg-6">
	<div class="panel panel-success  bl-well-semi-transparent">
	    <div class="panel-body">
		<iframe width="523" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=uk&amp;geocode=&amp;q=%D0%A8%D0%B5%D0%B2%D1%87%D0%B5%D0%BD%D0%BA%D1%96%D0%B2%D1%81%D1%8C%D0%BA%D0%B8%D0%B9+%D1%80%D0%B0%D0%B9%D0%BE%D0%BD,+%D0%9B%D1%8C%D0%B2%D1%96%D0%B2,+%D0%9B%D1%8C%D0%B2%D1%96%D0%B2%D1%81%D1%8C%D0%BA%D0%B0+%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C,+%D0%A3%D0%BA%D1%80%D0%B0%D1%97%D0%BD%D0%B0&amp;aq=0&amp;oq=%D0%9B%D1%8C%D0%B2%D1%96%D0%B2,+%D0%9B%D1%8C%D0%B2%D1%96%D0%B2%D1%81%D1%8C%D0%BA%D0%B0+%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C,+%D0%A3%D0%BA%D1%80%D0%B0%D1%97%D0%BD%D0%B0+%D1%88%D0%B5%D0%B2%D1%87%D0%B5%D0%BD%D0%BA&amp;sll=37.0625,-95.677068&amp;sspn=42.766543,81.914062&amp;ie=UTF8&amp;hq=&amp;hnear=%D0%A8%D0%B5%D0%B2%D1%87%D0%B5%D0%BD%D0%BA%D1%96%D0%B2%D1%81%D1%8C%D0%BA%D0%B8%D0%B9+%D1%80%D0%B0%D0%B9%D0%BE%D0%BD,+%D0%9B%D1%8C%D0%B2%D1%96%D0%B2,+%D0%9B%D1%8C%D0%B2%D1%96%D0%B2%D1%81%D1%8C%D0%BA%D0%B0+%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C,+%D0%A3%D0%BA%D1%80%D0%B0%D1%97%D0%BD%D0%B0&amp;t=m&amp;z=12&amp;ll=49.860516,24.010478&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=uk&amp;geocode=&amp;q=%D0%A8%D0%B5%D0%B2%D1%87%D0%B5%D0%BD%D0%BA%D1%96%D0%B2%D1%81%D1%8C%D0%BA%D0%B8%D0%B9+%D1%80%D0%B0%D0%B9%D0%BE%D0%BD,+%D0%9B%D1%8C%D0%B2%D1%96%D0%B2,+%D0%9B%D1%8C%D0%B2%D1%96%D0%B2%D1%81%D1%8C%D0%BA%D0%B0+%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C,+%D0%A3%D0%BA%D1%80%D0%B0%D1%97%D0%BD%D0%B0&amp;aq=0&amp;oq=%D0%9B%D1%8C%D0%B2%D1%96%D0%B2,+%D0%9B%D1%8C%D0%B2%D1%96%D0%B2%D1%81%D1%8C%D0%BA%D0%B0+%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C,+%D0%A3%D0%BA%D1%80%D0%B0%D1%97%D0%BD%D0%B0+%D1%88%D0%B5%D0%B2%D1%87%D0%B5%D0%BD%D0%BA&amp;sll=37.0625,-95.677068&amp;sspn=42.766543,81.914062&amp;ie=UTF8&amp;hq=&amp;hnear=%D0%A8%D0%B5%D0%B2%D1%87%D0%B5%D0%BD%D0%BA%D1%96%D0%B2%D1%81%D1%8C%D0%BA%D0%B8%D0%B9+%D1%80%D0%B0%D0%B9%D0%BE%D0%BD,+%D0%9B%D1%8C%D0%B2%D1%96%D0%B2,+%D0%9B%D1%8C%D0%B2%D1%96%D0%B2%D1%81%D1%8C%D0%BA%D0%B0+%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C,+%D0%A3%D0%BA%D1%80%D0%B0%D1%97%D0%BD%D0%B0&amp;t=m&amp;z=12&amp;ll=49.860516,24.010478" style="color:#0000FF;text-align:left">Переглянути збільшену карту</a></small>
	    </div>
	</div>
    </div>

    <div class="bsa well bl-well-semi-transparent col-lg-2">
	<legend>{{ translate('Контакты') }}</legend>
	<p>Украина. Львов.</p>
	<p>Шевченковский район.</p>
	<p>(000) 000 00 00</p>
	<p>(000) 000 00 00</p>
	<p>(000) 000 00 00</p>
    </div>

    <div class="col-lg-4">
	<div class="well bl-well-semi-transparent">
	    <form class="form-horizontal" name="contact_form" action="{{ url('contact_form') }}" method="POST">
		<fieldset>
		    <legend>Форма обратной связи</legend>
		    <input id="inputEmail" name="inputEmail" class="form-control" type="text" placeholder="Email">
		    <input id="inputName" name="inputName" class="form-control" type="text" placeholder="Name">
		    <textarea id="textArea" name="inputMessage" class="form-control" rows="3"></textarea>
		    <span class="help-block">Разместите ваше сообщение здесь.</span>
		    <div class="form-group">
			<div class="col-lg-10 col-lg-offset-2">
			    <button class="btn btn-default">Отменить</button>
			    <button class="btn  btn-success" type="submit">Отправить</button>
			</div>
		    </div>
		</fieldset>
	    </form>
	</div>
    </div>
</div>
{% endblock content %}