{% extends 'layout/layout.twig' %}
{% block header %}
{% endblock header %}
{% block content %}
<div class="row">
    <div class="col-lg-4">
	{% include 'application/bits/logo.twig' %}
	</div>
    </div>
    <div class="row">
	<div class="col-lg-7">
	    <div class="list-group bl-green-list bl-well-semi-transparent">
		<span class="list-group-item active">
		    <h4>Услуги:</h4>
		</span>
		<span class="list-group-item">Индивидуальные уроки он-лайн</span>
		<span class="list-group-item">Подготовка студентов к аттестации</span>
		<span class="list-group-item">Технические переводы</span>
		<span class="list-group-item">Ведение переписки, документооборот</span>
	    </div>
	</div>
	<div class="col-lg-5">
	{% include 'application/bits/contact_form_small.twig' %}
	    </div>
	</div>
	<div class="row">
	    <div class="col-lg-12">
		<div class="panel panel-success bl-well-semi-transparent">
		    <div class="panel-heading">
			<h3 class="panel-title">Используемые программы:</h3>
		    </div>
		    <div class="panel-body">
			<div class="row">
			    <div class="col-lg-2">
				<div class="bsa well text-center">
				    <img width="73"
					 height="100"
					 src="/img/yas/programs/schrite_int.jpg"
					 title="Schritte International"
					 >
				</div>
			    </div>
			    <div class="col-lg-2"><div class="bsa well">2</div></div>
			    <div class="col-lg-2"><div class="bsa well">3</div></div>
			    <div class="col-lg-2"><div class="bsa well">4</div></div>
			    <div class="col-lg-2"><div class="bsa well">5</div></div>
			    <div class="col-lg-2"><div class="bsa well">6</div></div>
			</div>
		    </div>
		    <div class="panel-footer">
			<div class="row">
			    <div class=" col-lg-2 col-lg-offset-10 text-right" >
				<a class="el-none-decoration" href="{{ url('home')}}" >Еще программы...</a>
			    </div>
			</div>
		    </div>
		</div>

	    </div>
	</div>
{% endblock content %}