{% extends 'layout/layout.twig' %}

{% block content %}
<div class="row">
    {% if ( result == 'success' ) %}
	<h2>Thanks! we will contack you!</h2>
	<p>Your order Id is: {{order_id}}</p>
	{% include '/application/bits/order.twig' %}
    {% else %}
    <h2>Sorry! Some error had happend!</h2>
    {% endif %} 
</div>

{% endblock content %}